# Data Science Tools and Ecosystem

## Author
Yassine Ouazzani

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- Commonly used libraries used by Data Scientists
- Data Science tools

Some of the popular languages that Data Scientists use are:
  1. Python
  2. R
  3. SQL
  4. Java
  5. Julia

Some of the commonly used libraries used by Data Scientists include:

  1. Pandas (Python) 
  2. Numpy (Python)
  3. Matplotlib (Python)

| Data Science Tools |
| -------------|
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

print((3*4)+5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

print(200/60)

3.3333333333333335